[submodule "third_party/Adept"]
	path = third_party/Adept
        url = https://github.com/tingelst/Adept.git
	branch = jacobian-row-major-output
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
